.nav{
    display:flex;
     justify-content: space-between ;
     align-items: center;
     justify-items: center;
  
     background-color: black;
     color:white;
     height:70px;
}
.len{
margin-left: 2px;
background-color: black;
padding:4px;
color:white;


}
.footer {
    background-color: white;
    color: rgb(254, 186, 58);
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.logo img{
    margin-left:5px;
    height:50px;
    width:50px;
    
}
.logo img:hover{
    cursor: pointer;
}

.left span:hover{
    cursor: pointer;
 /* margin:10px; */
  color:#8da1a7;
 
}
.nav span{
    font-size: 17px;
    text-align: center;
}
.left{
    display: flex;
    justify-content: space-evenly;
    flex:30%;
 
    font-size: 15px;
    align-items: center;
    height:100%;
}


.right{
    display:flex;
    flex:50%;
    justify-content: right;
  
   height:100%;
   align-items: center;
 
}

.btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
padding:2px;
}
.btn img{
     height:25px;
  width:25px;
}
.right button{
    
    height: 40px;
    width:180px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgb(249, 175, 37);
 
}


.btn:hover{
    
       transition: ease-in-out 0.1s;
       cursor:pointer;
    }
    .btn:hover span{
        
        color:white;
    }
    .nav h1:hover{
        cursor:pointer;
    }
    button.btn:hover{
    background-color: rgb(217, 149, 22);

}