img{
    width:100px;
    height:100px;
}
.container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.table{
    margin-top:25px;
    width:80%;
}
.table table tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.table table tr:nth-child(odd) {
    background-color: white;
}
span{
    margin: 5px;
     font-weight: bold;
}
.table table td{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.table table{
     border-collapse: collapse;
    border: 1px solid #ccc;
    width:60%;
    background-color: white;
      margin: 0 auto;
}
.container p{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 80px;
    text-align: center;
    width: 80%;


}
input{
    height: 25px;
    width: 25px;
}
.table h1{
    width:60%;
    margin:0 auto;
    color:rgb(56, 56, 143);
    padding-top:20px;
}
.button{
    width:60%;
    margin:0 auto;
    display: flex;
    height:100px;
   
    justify-content: center;
    align-items: center;
}

.button button{
    padding:10px;
    border-radius: 5px;

    cursor: pointer;
    background-color: black;
    border: none;
    color:orange;
}
.button button:hover{
    transform: scale(1.04);
}