.container{
    display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

}
.left{
    margin: 35px 15px 30px 35px;

    border:none;

   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
   border-radius: 3px;
    
    flex:70;
}
.name{
    
    width:125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quantity{
    width:40px;
   display: flex;
  justify-content: center; 
  align-items: center; 
    background-color: rgb(240, 240, 240);
  
 
    border-top: 0.1px solid;
    border-bottom: 0.1px solid;
}

.heading{
    border: 1px solid grey ;
    background-color:rgb(243, 240, 240);
    height: 55px;
font-size: 35px;
border-radius: 3px;
width: 100%;
}
.heading span{
      display: inline-block;
    margin-left: 20px;
    margin-top:4px;
}
.item-cart{
  margin-top:1px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:white;   /* line color */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25); */
    display: flex;
    border-radius: 3px;
    justify-content: space-evenly;
    /* background-color: green; */
    width: 100%;
    align-items: center;

}
.buttons{
    display: flex;
}


.delete button img{
    background-color: none;
    border:none;
    width: 30px;
    height:30px;
    border-radius: none;
}
.delete button{
    border-radius: none;
    background-color: transparent;
    border:none;
}
.delete button img:hover{
    cursor: pointer;
   transform: scale(1.1);
}

.add button{
    border-radius:5px 0px 0px 5px ;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: rgb(205, 201, 201);
    border: 1px solid;
}
.add button:hover{
    cursor: pointer;
    transform: scale(1.06);
    background-color: rgb(157, 155, 155);
}
.sub button:hover{
    background-color: rgb(157, 155, 155);
    
    cursor: pointer;
    transform: scale(1.06);
}
.name b{
    width:150px;
    text-align: center;
}
.tot_price{
    font-size: 18px;
}
.sub button{
    border-radius:0px 5px 5px 0px ;
    border: 1px solid;
    background-color:  rgb(205, 201, 201);
    width: 40px;
    height: 40px;
    font-size: 30px;
}
.pizza-img{
    height:60px;
    width:60px;
}
.check{
    height:35px;
    width:35px;  
}




/*  right */
.right{
     box-shadow: 0 3px 6px rgba(153, 141, 141, 0.971);
 width:100%;
margin-left:30px;
margin-right: 30px;
 border-radius: 3px;
}
.heading1{
    font-size: 20px;
    border-radius: 3px;
    width: 100%;
    height:50px;
    background-color:rgb(243, 240, 240);
   border-bottom: 1px solid rgb(212, 205, 205);
    box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.5);
}
.heading1 span{
    display: inline-block;
    margin-left: 10px;
    margin-top:12px;
}
.pizza_cost{
    width:100%;
    display: flex;
    height: 75px;
   justify-content: space-between; 
/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25); */
}
.pizza_cost span{
    /* background-color: blue; */
    margin: 10px;
    font-size: 20px;
}
.no-item{
    width: 100%;
        height: 300px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;

   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.ingred{
border: none;
display: flex;
justify-content: space-between;
font-size: 17px;
margin-left: 10px;
background-color: white;
width: 110px;

cursor: pointer;
}
.txt2{
margin-right: 10px;
font-size: 20px;
}
.dropdown{
    display: flex;
    justify-content: space-between;
}
.list{
    margin-left:18px ;
    list-style: none;
    max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
 
  /* width:50%; */

  /* background-color: red; */
}
.main-container{
    height: 84vh;
}
.listx{
   align-items: center;
    display: flex;
    width: 35%;
    /* flex-direction: column; */
    justify-content: space-between;
}
.list.open{
 max-height: 400px;

  opacity: 1;   
}
.totalx{
    border-radius: 3px;
       width:100%;
    text-align: right;
   height:50px;
   font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-top: 1px solid rgb(212, 205, 205);
    box-shadow: 0 -4px 6px -4px rgba(125, 112, 112, 0.5);
   
}
.totalx b{
 margin-right: 20px; 
}
.total{
    width:100%;
    text-align: right;
    border-radius: 3px;
    margin-top: 20px;
    border-top: 1px solid rgb(212, 205, 205);
    box-shadow: 0 -4px 6px -4px rgba(125, 112, 112, 0.5);
}
.dropdown span{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.total b{
    display: inline-block;
    font-size: 20px;
    margin:12px;
    margin-right: 20px;
    
}
.submit{
    display: flex;
    width: 100%;
    height:100px;
    justify-content: space-around;
    align-items: center;

}
.pay{
    background-color: rgb(252, 186, 63);
    padding:5px;
    width:100px;
    height:50px;
    border-radius: 3px;
    border: none;
    margin: 3px;
    
}
.divide{
    display: flex;
    flex:30;
    flex-direction: column;
    justify-content: center;
    margin: 35px 20px 15px 0px;
    align-items: center;
   
}
.clear{
    background-color: black;
    padding:5px;
    width:100px;
    height:50px;
    border-radius: 3px;
    border: none;
    margin: 3px;
    color:white;
       
}
.clear:hover{
    cursor: pointer;
   transform: scale(1.1);
}
.pay:hover{
    cursor: pointer;
   transform: scale(1.1);
}